<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Just Shoppe</title>
    <link rel="icon" type="image/x-icon" href="../JustShopee Bakery/images/Illustrations/logojs (1).png">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="../JustShopee Bakery/css/style.css">
</head>

<body>
    <div class="wrapper ">

        <header>
            <section class="top-header pt-2 text-white d-none d-lg-block">
                <div class="container-fluid">
                    <div class="row justify-content-between">
                        <div class="col ps-5">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fas fa-search"></i></a>

                        </div>
                        <div class="col d-flex justify-content-end">
                            <li><i class="far fa-clock me-3"></i>Mon - Sat: 8AM - 5PM</li>
                            <li class="mx-5"><i class="fas fa-mobile-alt  me-3"></i>123 456 7890</li>
                        </div>
                    </div>
                </div>
            </section>

            <div class="middle-header d-flex justify-content-center ">
                <img width="230" height="100" src="../JustShopee Bakery/images/Illustrations/logojs (1).png " alt=""
                    class="image-fluid">
            </div>

            <section class="bottom-header pt-3 pb-4 d-none d-md-block">

                <ul class="d-flex justify-content-center mb-0">
                    <li><a href="#" class="text-decoration-none">home</a></li>
                    <li><a href="#" class="text-decoration-none">about</a></li>
                    <li><a href="#" class="text-decoration-none">shop</a></li>
                    <li><a href="#" class="text-decoration-none">blog</a></li>
                    <li><a href="#" class="text-decoration-none">contact</a></li>
                </ul>
            </section>

            <ul
                class="nav nav-tabs text-white h5 mobile-navigation nav-justified border-bottom-0 mt-2 pb-3 d-block d-md-none">
                <li class="nav-item">
                    <a class="nav-link  text-white" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white">Contact</a>
                </li>
            </ul>

        </header>

        <div class="cake-img position-relative d-flex justify-content-center align-items-center">
            <h1 class="text-center">We make delicious <div class="text-center">Chocolates </div>
            </h1>
            <div class="custom-shape-divider-bottom-1635581031">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                    preserveAspectRatio="none">
                    <path
                        d="M600,112.77C268.63,112.77,0,65.52,0,7.23V120H1200V7.23C1200,65.52,931.37,112.77,600,112.77Z"
                        class="shape-fill"></path>
                </svg>
            </div>
        </div>

        <section class="hero-section">

            <div class="container position-relative">
                <div class="row justify-content-around align-items-center flex-wrap">

                    <div class="col-12 col-md-6 pe-5 ">
                        <h2>Welcome to our Coffee Shop</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                            ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                        <p>Eiusmod jianbing succulents brunch sartorial flannel dreamher ut subway tile tempor bushwick
                            chartreuse wolf nisi. Readymade selvage aute tout a bird on it deep.</p>

                        <div class="mt-5">
                            <a href="#" role="button" class="shop-now ">shop now</a>
                        </div>

                    </div>

                    <div class="col-12 col-md-6 d-flex justify-content-center">
                        <div class="right-hero-img">

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="limited-offer pt-5" data-aos="fade-up"
        data-aos-duration="3000">

            <div class="container">

                <div class="title text-center mb-5">
                    <h3> Limited Time offers</h3>
                    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus.</p>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-4 mt-4  text-center ">
                        <figure class="offer-1"></figure>
                        <figcaption class="mt-4">
                            <h3>Product type 1</h3>
                            <h5 class="pb-3">$ 13.90</h5>
                            <a href="#" role="button" class="more">more</a>
                        </figcaption>
                    </div>
                    <div class="col-12 col-md-4 mt-4 text-center ">
                        <figure class="offer-2"></figure>
                        <figcaption class="mt-4">
                            <h3>Product type 2</h3>
                            <h5 class="pb-3">$ 11.59</h5>
                            <a href="#" role="button" class="more">more</a>
                        </figcaption>
                    </div>
                    <div class="col-12 col-md-4 mt-4  text-center ">
                        <figure class="offer-3"></figure>
                        <figcaption class="mt-4">
                            <h3>Product type 3</h3>
                            <h5 class="pb-3">$ 15.45</h5>
                            <a href="#" role="button" class="more">more</a>
                        </figcaption>
                    </div>
                </div>




            </div>



        </section>

        <section class="testimonials" data-aos="fade-up"
        data-aos-duration="3000">

            <div class="container">

                <div class="title text-center mb-5">
                    <h3> Testimonials</h3>
                    <p class="para">Knausgaard gentrify tbh ramps, aesthetic fanny pack ullamco. Franzen coloring book
                        twee.</p>
                </div>

                <div class="row">
                    <div class="col  d-flex justify-content-center mt-3">
                        <div class="three-testimonial">

                            <div class="mb-4">
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                            </div>

                            <p class="para">Eiusmod jianbing succulents brunch sartorial flannel dreamher ut subway tile
                                tempor
                                bushwick chartreuse wolf nisi. Readymade selvage aute tout a bird on it deep.</p>

                            <div class="row align-items-center mt-5 ">
                                <div class="col-3">
                                    <img class="test-img rounded-circle" width="100%"
                                        src="../JustShopee Bakery/images/Illustrations/test-1.jpg" alt="">
                                </div>
                                <div class="col">
                                    <p class="mb-0">Marie Williams</p>
                                    <span>Berlin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center mt-3">
                        <div class="three-testimonial">

                            <div class="mb-4">
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                            </div>

                            <p class="para">Eiusmod jianbing succulents brunch sartorial flannel dreamher ut subway tile
                                tempor
                                bushwick chartreuse wolf nisi. Readymade selvage aute tout a bird on it deep.</p>

                            <div class="row align-items-center mt-5 ">
                                <div class="col-3">
                                    <img class="test-img rounded-circle" width="100%"
                                        src="../JustShopee Bakery/images/Illustrations/test-2.jpg" alt="">
                                </div>
                                <div class="col">
                                    <p class="mb-0">Marie Williams</p>
                                    <span>Berlin</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col d-flex justify-content-center  mt-3">
                        <div class="three-testimonial">
                            <div class="mb-4">
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                                <i class="fas fa-star h6 text-warning"></i>
                            </div>

                            <p class="para">Eiusmod jianbing succulents brunch sartorial flannel dreamher ut subway tile
                                tempor
                                bushwick chartreuse wolf nisi. Readymade selvage aute tout a bird on it deep.</p>

                            <div class="row align-items-center mt-5 ">
                                <div class="col-3">
                                    <img class="test-img rounded-circle" width="100%"
                                        src="../JustShopee Bakery/images/Illustrations/test-3.jpg" alt="">
                                </div>
                                <div class="col-auto">
                                    <p class="mb-0">Marie Williams</p>
                                    <span>Berlin</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="contact-us  py-5 bg-dark" data-aos="fade-up"
        data-aos-duration="3000">
            <div class="container-fluid  py-5">
                <div
                    class="col-8  d-flex flex-column justify-content-center align-items-center py-5 mx-auto text-center bg-light">
                    <h3 class="">Contact us for occassions & parties.</h3>
                    <a href="#" role="button" class="shop-now">Contact</a>
                </div>
            </div>
        </section>

        <section class="why-choose-us " data-aos="fade-up"
        data-aos-duration="3000">

            <div class="container py-5">
                <div class="row">

                    <div class="col-12 col-md-12  col-lg-4 pe-4 mb-4">

                        <h3>Why Choose Us</h3>
                        <p class="para mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
                            luctus
                            nec ullamcorper mattis, pulvinar dapibus leo. Eiusmod jianbing succulents brunch sartorial
                            flannel dreamher ut subway tile tempor bushwick chartreuse wolf nisi. Readymade selvage aute
                            tout a bird on it deep</p>
                        <div>
                            <a href="#">
                                <i class="fab fa-facebook text-white h4 rounded-circle bg-info px-3 py-3 me-2"></i></a>
                            <a href="#">
                                <i class="fab fa-twitter text-white h4 rounded-circle bg-info px-3 py-3 me-2"></i></a>
                            <a href="#">
                                <i
                                    class="fab fa-google-plus text-white h4 rounded-circle bg-info px-3 py-3 me-2"></i></a>
                        </div>
                    </div>
                    <div class=" col-12 col-md-6 col-lg-4 mb-4">
                        <div class="two-img"><img width="100%"
                                src="../JustShopee Bakery/images/Illustrations/chef-3.jpg" alt=""></div>
                        <div class="blue-block pt-2">
                            <p> Peaceful Ambience </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6  col-lg-4">
                        <div class="two-img"> <img width="100%"
                                src="../JustShopee Bakery/images/Illustrations/sweet-6.jpg" alt=""></div>
                        <div class="blue-block pt-2">
                            <p> Peaceful Ambience </p>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <footer>

            <div class="container ">
                <div class="row  justify-content-around" >
                    <div class="col-12 col-lg-auto col-md-6 mb-4">
                        <h4>Contact Info</h4>
                        <h5 class="text-white my-3">(1800) 574 9687</h5>
                        <ul class="ps-0">
                            <li><a href="#">Justshoppe@contact.co</a></li>
                            <li><a href="#">contact@Justshoppe.demo</a></li>
                        </ul>
                    </div>
                    <div
                        class=" col-12 col-lg-auto col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <img class="footer-logo image-fluid" width="40%"
                            src="../JustShopee Bakery/images/Illustrations/logojs (1).png" alt="">
                        <p>Justshoppe Store</p>
                        <p>256, baker Street, Suit Building</p>
                        <p>New York, 5245</p>
                    </div>
                    <div class="col-12 col-lg-auto col-md-6">
                        <h4>Opening Hours</h4>

                        <div class="row mt-3">
                            <div class="col d-flex">
                                <div class="col">
                                    <p>Tuesday- Saturday</p>
                                    <p>Sunday</p>
                                    <p>Monday</p>

                                </div>
                                <div class="col">
                                    <p>8 AM – 5 PM</p>
                                    <p>12 AM – 8 PM</p>
                                    <p>Off</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="mt-5 border-top border-2 border-white  h5">
                    <p class="my-3 text-center">Copyright © 2021 — Created by SK</p>
                </div>
            </div>
        </footer>



    </div>






    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="../JustShopee Bakery/javascript/script.js"></script>
</body>

</html>